@font-face {
  font-family: "Goffik";
  src: url(Fonts/goffik-o-webfont.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'College-Halo';
  src: url(Fonts/college_halo-webfont.woff);
  font-weight: normal;
}


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html {
  --primary: #0d2330;
  --text-accent: #1abcfe;
  --alt-background: #7db343;
  --graphic-clr-primary: #0d2330;
  --graphic-clr-alt: #a3ca7b;
  --neutral-100:  #fff;
  --neutral-900: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  width: 100vw;
}



/*====HEADER SECTION======*/
.media-header {
  display: none;
}

header {
  margin-top: 200px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 80vh;
  transform-style: preserve-3d;
  position: relative;
 
}

.circle {
  transform-style: preserve-3d;
  animation: animateText 8s linear infinite;
  animation-delay: 5s;
  /*box-shadow:inset 0 5 #fff;*/
  margin-top: 15%;

}

.circle span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(2, 2, 68);
  color: var(--neutral-100);
  font-size: 4em;
  transform-origin: left;
  transform-style: preserve-3d;
  border-top: solid 4px rgb(133, 125, 125);
  border-bottom: 4px rgb(133, 125, 125) solid;
  box-shadow: 0px 0px 20px rgb(98, 194, 250);
  padding: 3px 15px;
  transform: rotateY(calc(var(--i) * calc(360deg / 29))) translateZ(200px);

}

@keyframes animateText
{
  0% {
    transform: perspective(900px) rotateY(360deg) rotateX(0deg)translateY(-30px) ;
  }

  100% {
    transform: perspective(900px) rotateY(0deg) rotateX(10deg) translateY(-30px);
  }
}

span.space {
  color: rgb(2, 2, 68);
}

.typewriter {
 position: absolute;
 top: 0;
 left: 20vw;
 
}

.typewriter h1 {
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .20em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(29, end),
    blink-caret .75s step-end infinite;
}

.typewriter h1 span {
  color: white;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
/*====END---HEADER SECTION---END======*/



h1 {
  font-family: 'College-Halo', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 10rem;
  text-shadow: 0 0 8px #000;
  letter-spacing: 2px;
  }

h2 {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 8px black;
  
}

a:hover {
  cursor: pointer;
}

main {
  width: 100vw;
  
}

section {
  width: 100vw;
  
}

.section-1 {
  padding-top: 60px;
  background-image: url("./images/circle\ graphic right.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 8%;
  padding-bottom: 80px;
}

.container {
  width: 90vw;
  margin-inline: auto;
  
}

.flex-container {
  display: flex;
  gap: 30px;
  
}

.divider-bar {
  color: #fff;
  background-color: #1abcfe;
  min-height: 7.5rem;
  margin-bottom: 3.125rem;
}

.divider-text {
  color: white;
  font-family: 'Goffik';
  font-size: 8rem;
  text-align: center;
  letter-spacing: 4px;
}

.site-text-container {
    margin-bottom: 3em;
}


.site-title {
  color: var(--neutral-100);
  font-family: 'Roboto Slab';
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.875rem;

}

.site-text {
  color: var(--text-accent);
  font-family: Roboto;
  font-size: 1.25rem;
  width: 30rem;
  margin-bottom: 1.875rem;
 
}

.fillup-img-container {
  display: flex;
  justify-content: center;
}

.ui-box {
  max-width: 200px;
  }

 #fillup-ui-img {
  width: 100%;
 
}

.laptop-box {
  width: 600px;
  margin-left: -30px;

}

#angled-laptop {
  width: 100%;
 
}

.fillup-tools {
  display: block;
  width: 25rem;
  height: 4rem;
  margin-inline: auto;
}

.section-2 {
  background-color: #7db343;
  min-height: 100vh;
  padding-top: 4rem;
}

.description-box {
  width: 500px;
  color: white;
 }

 
 .description-box p {
    margin-bottom: 1rem;
 }


.img-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-end;

}

.section-2 img {
  width: 500px;
  height: 350px;
  object-fit: fill;

}




